
[submodule "docs/glanceapp"]
	path = docs/glanceapp
	url = https://github.com/glanceapp/glance.git
[submodule "docs/invokeai"]
	path = docs/invokeai
	url = https://github.com/invoke-ai/InvokeAI.git
[submodule "docs/pi-hole"]
	path = docs/pi-hole
	url = https://github.com/pi-hole/docker-pi-hole.git
[submodule "docs/nextcloud-aio"]
	path = docs/nextcloud-aio
	url = https://github.com/nextcloud/all-in-one.git
[submodule "docs/immich"]
	path = docs/immich
	url = https://github.com/immich-app/immich.git
[submodule "docs/ollama"]
	path = docs/ollama
	url = https://github.com/ollama/ollama.git
[submodule "docs/portainer-io"]
	path = docs/portainer-io
	url = https://github.com/portainer/portainer-compose.git
[submodule "docs/vaultwarden"]
	path = docs/vaultwarden
	url = https://github.com/dani-garcia/vaultwarden.git
[submodule "docs/floratech-daphne"]
	path = docs/floratech-daphne
	url = https://github.com/leonardonels/floratech.git
[submodule "docs/gpu-hot"]
	path = docs/gpu-hot
	url = https://github.com/psalias2006/gpu-hot.git
[submodule "compose/gpu-hot"]
	path = compose/gpu-hot
	url = https://github.com/leonardonels/gpu-hot.git
[submodule "docs/playit"]
	path = docs/playit
	url = https://github.com/playit-cloud/playit-agent.git
