[submodule "glance-dashboard"]
	path = glance-dashboard
	url = https://github.com/leonardonels/glance.git
[submodule "cloudflare-warp"]
	path = cloudflare-warp
	url = https://github.com/leonardonels/cloudflare-warp-docker.git
