# Environment variables
*.env

# InvokeAI data
data/invokeai/*
!data/invokeai/.gitkeep

# ollama data
data/ollama/*
!data/ollama/.gitkeep

# Portainer data
data/portainer-io/*
!data/portainer-io/.gitkeep

