[submodule "ref/glanceapp"]
	path = ref/glanceapp
	url = https://github.com/glanceapp/glance.git
[submodule "ref/invokeai"]
	path = ref/invokeai
	url = https://github.com/invoke-ai/InvokeAI.git
[submodule "ref/pi-hole"]
	path = ref/pi-hole
	url = https://github.com/pi-hole/docker-pi-hole.git
[submodule "ref/nextcloud-aio"]
	path = ref/nextcloud-aio
	url = https://github.com/nextcloud/all-in-one.git
