# Environment variables
*.env

# InvokeAI data
data/invokeai/*
!data/invokeai/.gitkeep

# ollama data
data/ollama/*
!data/ollama/.gitkeep

# Portainer data
data/portainer-io/*
!data/portainer-io/.gitkeep

# Vaultwarden data
data/vaultwarden/*
!data/vaultwarden/.gitkeep

# Crafty data
data/crafty/*
!data/crafty/.gitkeep

# Immich data
data/immich-app/*
!data/immich-app/.gitkeep
