# Environment variables
*.env

# pi-hole data
data/pi-hole/*
!data/pi-hole/.gitkeep

# InvokeAI data
data/invokeai/*
!data/invokeai/.gitkeep

# ollama data
data/ollama/*
!data/ollama/.gitkeep

# Portainer data
data/portainer-io/*
!data/portainer-io/.gitkeep

# Vaultwarden data
data/vaultwarden/*
!data/vaultwarden/.gitkeep

# Crafty data
data/crafty/*
!data/crafty/.gitkeep

# Immich data
data/immich-app/*
!data/immich-app/.gitkeep

# n8n data
data/n8n/*
!data/n8n/data/.gitkeep
!data/n8n/files/.gitkeep

# sam3 - quick toy container
data/sam3/*
!data/san3/.gitkeep
