services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9443:9443"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/docker/roxan/data/portainer-io:/data
    networks:
      - portainer_network

networks:
  portainer_network:
    driver: bridge
